section img {
	display: block;
	width: 20vw;
	margin: 1em auto;
}

ul {list-style: none;}

li::before {
	content: "\2022";
	color: orange;
	display: inline-block;
	width: 2em;
	margin-left: 1em;
}

p, li {line-height: 1.5em;}

.left {width: 20vw; min-width: 20vw; position: fixed;}
.exptext {margin-left: 25vw;}
.exptext > p {margin-left: 2vw;}

.date {color: #AAA;}