html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 16px;
}

section {
	max-width: 93.75em;
	min-height: 100vh;
	width: 50vw;
	margin: 0 auto;
}

hr {
	text-align: left;
	margin: 1em 0 0 0;
	width: 15%;
}

span {color: #000;}
h1 {font-size: 4em; margin: 0;}
h1, h2 {font-family: 'Playfair Display', serif;}
h3, h4, p, li {font-family: 'Open Sans', sans-serif;}
h3, p {color: #b7b7b7;}
h3 ,h4 {font-weight: normal; font-size: 1.2em;}
h3 {text-transform: uppercase; margin: 0;}

nav {
	position: fixed;
	top: 0;
	right: 0;
	padding: 0 1em 1em 1em;
	max-width: 25vw;
	text-align: center;
}

nav img {
	width: 3em;
	height: 3em;
	background-color: #b7b7b7;
	transition: background-color 350ms ease;
}

.active {color: #000;}
.active:link, .active:visited {color: #000;}

.navimg {
	float: left;
	clear: both;
}

nav a img:hover {
	background-color: #000;
}

section img {
	width: 25vw;
	height: auto;
}

a { 
	text-decoration: none;
	color: #b7b7b7;
	transition: color 350ms ease;
	cursor: pointer;
	display: inline-block;
	margin: 0;
}

section a:link, a:visited {color: #b7b7b7;}
section a:hover {color: #000;}
section a:active {color: #000;}

section a:after {
  display:block;
  content: '';
  border-bottom: solid 3px #000;  
  transform: scaleX(0);  
  transition: transform 350ms ease-in-out;
  transform-origin:  0% 50%; 
}

section a:hover:after { transform: scaleX(1); }

#home {
	display: flex;
	align-items: center;
}

#work div:nth-child(1) {
	position: -webkit-sticky;
	position: -moz-sticky;
	position: -ms-sticky;
	position: -o-sticky;
	position: sticky;
	top: 0;
	overflow: auto;
	background-color: #fff;
}

.entry {
	padding: 2em 0;
}

footer {
	position: fixed;
	bottom: 0;
	right: 0;
	padding: 1em 1em 1em 1em;
	max-width: 25vw;
	text-align: right;
}

footer p {
	margin: 0;
	font-size: 0.8em;
}

footer span {
	color: #b7b7b7;
	animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
	border-color: transparent;
  }
}

@media only screen and (max-width: 450px){

	h1 {font-size: 3em;}
	hr {width: 25%;}
	section {max-width: 77vw; width: 77vw; margin: 0 0 0 5vw;}
	nav {max-width: 15vw; padding: 0 3vw 0 0;}
	footer,section img {display: none;}
	.entry {padding:0;}
 
}